<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
      <% if (successMessage) { %>
        <div class="user-message"><%= successMessage %></div>
      <% } %>
      <% if (errorMessage) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
      <% } %>
      <form class="login-form" action="/login" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        
        <div class="form-control">
          <label for="email">Email</label>
          <input
            class="<%= errors.includes('email') ? 'invalid' : '' %>"
            type="email"
            name="email"
            id="email"
            value="<%= originalInput.email %>"
            required
          >
        </div>
        <div class="form-control">
          <label for="password">Password</label>
          <input
            class="<%= errors.includes('password') ? 'invalid' : '' %>"
            type="password"
            name="password"
            id="password"
            value="<%= originalInput.password %>"
            required
          >
        </div>
        
        <button class="btn" type="submit">Log In</button>
        
        <div>
          <a href="/reset-password">Forgot password?</a>
        </div>
      </form>
    </main>
<%- include('../includes/end.ejs') %>
