<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/signup" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input
                    class="<%= errors.includes('email') ? 'invalid' : '' %>"
                    type="email"
                    name="email"
                    id="email"
                    value="<%= originalInput.email %>"
                >
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input
                    class="<%= errors.includes('password') ? 'invalid' : '' %>"
                    type="password"
                    name="password"
                    id="password"
                    value="<%= originalInput.password %>"
                >
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input
                    class="<%= errors.includes('confirmPassword') ? 'invalid' : '' %>"
                    type="password"
                    name="confirmPassword"
                    id="confirmPassword"
                    value="<%= originalInput.confirmPassword %>"
                >
            </div>
            <button class="btn" type="submit">Signup</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>
