<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/cart.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <% if (products.length > 0) { %>
      <ul class="cart__item-list">
        <% for (let product of products) { %>
          <li class="cart__item">
            <h1><%= product.productId.title %></h1>
            <h2>Quantity: <%= product.qty %></h2>
          </li>
        <% } %>
        <hr>
        <div class="centered">
          <h2>Total: $ <%= totalSum %></h2>
          <button id="checkout-button" type="submit" class="btn">Order Now!</button>
        </div>
      </ul>
    <% } else { %>
      <h1>Your cart is empty. Add items before checkout.</h1>
    <% } %>

    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      const stripe = Stripe("<%= stripePublishableKey %>");
      const checkoutButton = document.getElementById("checkout-button");
      checkoutButton.addEventListener('click', () => {
        stripe.redirectToCheckout({ sessionId: "<%= sessionId %>" });
      });
    </script>
  </main>
<%- include('../includes/end.ejs') %>
