<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navigation.ejs') %>

  <% if (product) { %>
    <main class="centered">
      <h1><%= product.title %></h1>
      <div class="image">
        <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
      </div>
      <h2><%= product.price %></h2>
      <p><%= product.description %></p>
      <% if (isAuthenticated) { %> 
        <%- include('../includes/add-to-cart.ejs') %>
      <% } %>
    </main>
  <% } else { %>
    <main>
      <h1>Product not found</h1>
    </main>
  <% } %>
<%- include('../includes/end.ejs') %>
